.courses-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.course-page-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height:15%;
    font-size:3rem;
    font-weight:bold;
    color: white;
    background-color: var(--background-color);
}
.course-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    padding: 2rem;
    width: 100%;
    height: 60%;
    gap: 2.0rem;

}
.course-card{
    width: 20vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    border: 3px solid rebeccapurple;
    border-radius: 8px;
    box-shadow: 0 0 3px rebeccapurple;
    transition: all 0.5s ease;
    cursor: pointer;
}
.course-card:hover{
    transform: scale(1.01);
    box-shadow: 0 0 30px rebeccapurple;
}
.course-card-content-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40%;
}
.course-card-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 90%;
    height: 50%;
}
.add-new-course-container{
    width: 100%;
    height: 5%;
}
.add-new-course{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 5%;

    border-radius: 100%;

    background-color: var(--background-color);
    color: white;
    border: none;
    box-shadow: 0 0 3px rebeccapurple;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.add-new-course:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rebeccapurple;
}

.add-new-course-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.1rem;

    font-size: 25px;
    position: absolute;
    top: 16vw;
    left: 25%;
    width: 50%;
    height: 60%;
    backdrop-filter: blur(10px);
    background: rgba(102, 51, 153, 0.53);
    color: white;
    border-radius: 10px;
    border: 3px solid rebeccapurple;
    transition: transform 300ms ease 100ms;

}

/*.course-material {*/
/*    display: flex; !* מאפשר שימוש ב-flexbox *!*/
/*    flex-direction: column; !* מארגן את הילדים בעמודה *!*/
/*    align-items: center; !* מרכז אופקית *!*/
/*    justify-content: center; !* מרכז אנכית *!*/
/*    text-align: center; !* טקסט באמצע *!*/
/*    margin: 0 auto; !* מוודא ריווח מרכזי *!*/
/*    font-size: 25px;*/
/*}*/
/*button{*/
/*   width:8vw;*/
/*    height: 3vh;*/
/*    font-size: 20px;*/
/*    background-color: white;*/
/*    color:rebeccapurple;*/
/*    border:1px solid rebeccapurple;*/
/*    margin-top: 20px;*/

/*}*/
/*bold{*/
/*    color:rebeccapurple;*/
/*}*/