.dashboard {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 600;

}

.upper-container {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--background-color);
    color: white;
}
.lower-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    width: 100vw;
    height: 70vh;

}
.search-courses {
    padding: 10px;
    margin-right: 10px;
}


button:hover {
    border-color: #490a9d;
}

button:focus, button:focus-visible {
    outline: 90px auto -webkit-focus-ring-color;
}

.navCourses {
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 2rem;
    max-width: 30%;
    min-width: 20%;
    max-height: 60%;
    position: page;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    border: 3px solid #007bff;
    border-radius: 20px;
}

.ListCard {
    margin-top: 1rem;
    padding: 2rem;
    max-width: 60%;
    min-width: 60%;
    /*max-height: 60%;*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    border: 3px solid #007bff;
    border-radius: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: stretch;
    padding: 1rem;
    gap: 20px;
}

.search-button{
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;
}

.search-input {
    min-width: 350px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

.search-bar-container {
    display: flex;
    justify-content: space-between;
}
