.navbar{
    width: 100vw;
    height: 7vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: white;
    background-color: rebeccapurple;;

    border-radius: 5px;
    /*box-shadow: 0 0 20px rebeccapurple;*/
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar li:first-child{
    position: absolute;
    left: 10%;
    float: none;
}
.navbar li:nth-child(2){
    position: absolute;
    left: 13.5%;
    float: none;
}

.navbar li:last-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    position: absolute;
    right: 10%;
    float: none;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.search-bar{
    width: 10vw;
    height: 2vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}
.search-button{
    color: white;
    cursor: pointer;
}

.navbar-button {
    color: white;
    text-decoration: none;
    cursor: pointer;

}
.navbar-button:hover , .search-button:hover{
    animation: border-bottom-animation 0.3s;
    box-shadow: 0 3px 0 0 white;
}

@keyframes border-bottom-animation {
    from {
        box-shadow: 0 3px 0 0 transparent;
    }
    to{
        box-shadow: 0 3px 0 0 white;
    }
}