.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 300px;

    .form-group {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
    }
    .form-group > div {
        flex: 1;
    }
}

.register-form h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.register-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register-form form label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

.register-form form input,
.register-form form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 14px;
}
.register-form form input[type="password"] {
   box-sizing: border-box;
    position: relative;
}

.register-form form input[type="password"]::before {
    content: "\f070";
    font-family: FontAwesome, serif;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
}

.register-form form input[type="password"]:focus + :before {
    color: #007bff;
}

.register-form form input[type="password"]:focus + :before:hover {
    color: #0056b3;
}

.register-form form select {
    appearance: none;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 14px;
    padding-right: 30px;
}

.register-form form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.register-form form button.active {
    background-color: #0069d9;
}

.register-form form button:disabled {
    background-color: #ccc;
    cursor: default;
}

.register-form form button:hover:not(:disabled) {
    background-color: #0056b3;
}