.navbar{
    width: 100vw;
    height: 7vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: white;
    background-color: var(--background-color);;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    list-style-type: none;
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar li:first-child{
    position: absolute;
    left: 12%;
    float: none;
}
.navbar li:nth-child(2){
    position: absolute;
    left: 16%;
    float: none;
}
.navbar li:nth-child(3){
    position: absolute;
    left: 21%;
    float: none;
}

.navbar li:last-child{
    position: absolute;
    right: 12%;
    float: left;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.search-bar{
    width: 10vw;
    height: 2vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}
.search-button{
    color: white;
    cursor: pointer;
}

.navbar-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;

    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease;

}
.navbar-button:hover{
    box-shadow: 0 3px 0 0 white;
}

.navbar-button:focus{
    box-shadow: 0 3px 0 0 white;
    outline: none;
}
