:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

.App{
  background-color: rgba(241, 229, 255, 0.28);

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

/*.my-collapse {*/
/*  overflow: hidden;*/
/*  transition: height 0.2s ease-in-out;*/
/*  border-bottom: #ea1c1c 5px;*/
/*  display: flex;*/
/*  justify-content: space-between;*/

/*}*/
