:root {
    --background-color: rebeccapurple;
    --gradient-angle: 129deg;
    --color-1: rgb(72, 11, 169);
    --color-2: rebeccapurple;
    --color-3: rgb(128, 0, 153);
    --gradient-color: linear-gradient(var(--gradient-angle), var(--color-1) 10%, var(--color-2) 50%, var(--color-3) 90%);
    --color-1-bright: rgb(88, 0, 255);
    --color-2-bright: rgb(183, 0, 255);
    --color-3-bright: rgb(210, 0, 255);
    --card-width: 60vw;
    --card-height: 70vh;
}

@property --color-1{
    syntax: "<color>";
    initial-value: transparent;
    inherits: true;
}
@property --color-2{
    syntax: "<color>";
    initial-value: transparent;
    inherits: true;
}
@property --color-3{
    syntax: "<color>";
    initial-value: transparent;
    inherits: true;
}

body {
    display: flex;
    margin: 0;
}

.Logo{
    margin-top: 10%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
