.nothing-to-show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
.card-container{
    width: 100%;
    height: 590px;
    gap: 1.5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-x: auto;
    /*overflow-y: hidden;*/
    white-space: nowrap;
    /*scroll-behavior: smooth;*/
    scroll-snap-type: x mandatory;
}

.card-container::-webkit-scrollbar {
    height: 0.8rem;
    width: 0.8rem;
}
.card-container::-webkit-scrollbar-track {
    /*background: rgba(147, 112, 219, 0.38);*/
    margin: 1.5rem;
}
.card-container::-webkit-scrollbar-thumb {
    background: var(--color-scheme);
    border-radius: 5px;
}
.card-container::-webkit-scrollbar-thumb:hover {
    background: #8100ff;
    /*transition: background 0.5s;*/
}
.card{
    margin-block-start: 2em;
    min-width: 300px;
    min-height: 500px;
    max-width: 300px;
    max-height: 500px;
    margin-inline-start: 1.3rem;
    margin-inline-end: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: left;
    border: 3px solid rebeccapurple;
    border-radius: 15px;
    box-shadow: 0 0 3px rebeccapurple;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    cursor: pointer;
    white-space: wrap;
    flex-shrink: 0;
    scroll-snap-align: center;
}
.card:scrolled{
    transform: scale(1.2);
}
.card:before{
}
.card:hover{
    transform: scale(1.01);
    box-shadow: 0 0 30px rebeccapurple;
}
.card-content-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30%;
}
.card-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 90%;
    height: 50%;
}
.card-content-header{
    color: darkgrey;
    font-size: 1.2rem;
    font-weight: bold;
    height:15%;
}
.card-content-desc{
    color: black;
    font-size: 1rem;
    font-weight: bold;
    height: 85%;
}
